﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage.master" CodeBehind="ErrorPage.aspx.vb" Inherits="MidWebApp.ErrorPage" 
    title="Error Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="maincontent" runat="server">
    <link href="css/grid.css" rel="stylesheet" media="screen" type="text/css" />
          <div style="height:150px; padding-top:20px; padding-left:20px;">
         <asp:Label ID="ErrorLabel" runat="server"  style=" color:Red"   Text ="An error has occured while processing the request. Please try again later."></asp:Label>
      </div>
   
    
</asp:Content>
