@charset "UTF-8";

/** 
 * LWIS Celebrity CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		Default
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera9+, Firefox2+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2009 Live Web Institute. All Rights Reserved.
 *
 */


/*-------------------------------------------------/
 * @section		Base Drop-Down Styling
 */


ul.dropdown {
 /*font: bold 35px/normal Arial, Helvetica, sans-serif;*/
  font: bold 22px/normal Arial, Helvetica, sans-serif;
  padding-top: 4px;
 /*letter-spacing: -2px;*/
 /*text-transform: uppercase;*/
}

	ul.dropdown li {
	 padding: 0 10px;
	 background-color: transparent;
	 color:#ffd37b;
	}

	ul.dropdown li.last ul li {
	 float: right;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	/*background-color: #b0d730;*/
	/*background-color: #e1e8f2;*/
	/*color: #000;*/
	color: #0099ff;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited	{ /*color: #000;*/   color:#ffd37b; text-decoration: none; }
	ul.dropdown a:hover		{ /*color: #000;*/ color: #0099ff; }
	ul.dropdown a:active	{ color: #ffa500;}


	/* -- level mark -- */

	ul.dropdown ul {
	 /*background-color: #b0d730;*/
	 background-color: #003366;
	 border:2px solid;
     border-color:#404040 #d4d0c8 #d4d0c8 #404040;
	 font-size: 12px;
	 letter-spacing: normal;
 	}

	* html ul.dropdown ul {
	 width: 960px;
	}

		ul.dropdown ul li {
		 font-weight: bold;
		}

		/* -- level mark -- */

		ul.dropdown ul ul {
		 /*margin-top: 5px;*/
		 text-transform: none;
		}

			ul.dropdown ul ul li {
			 font-weight: normal;
			}


/*-------------------------------------------------/
 * @section		Support Class `dir`
 */


ul.dropdown *.dir {
 padding-right: 30px;
 /*background-image: url(../images/nav-arrow-down.png);*/
 background-image: url(../images/navdown_white.gif);
 /*background-position: 100% 50%;*/
 background-position: 95% 50%;
 background-repeat: no-repeat;
}

ul.dropdown ul *.dir {
 background-image: none;
}