@charset "UTF-8";

/** 
 * Default Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		Default
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera9+, Firefox2+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2009 Live Web Institute. All Rights Reserved.
 *
 */

@import "default.css";


/*-------------------------------------------------/
 * @section		Base Style Extension
 */

ul.dropdown li a {
 display: block;
 padding: 0 10px;
}


/*-------------------------------------------------/
 * @section		Base Style Override
 */

ul.dropdown li {
 padding: 0;
}


/*-------------------------------------------------/
 * @section		Base Style Reinitiate: post-override activities
 */

ul.dropdown li.dir {
 padding: 0 30px 0 10px;
}

ul.dropdown li.dir:hover {

}

ul.dropdown ul li.dir {
 padding: 10px;
}


/*-------------------------------------------------/
 * @section		Custom
 */

ul.dropdown ul {
 padding: 0 10px;
}

ul.dropdown ul a {
 /*width: 140px;*/
 width: 375px;
 padding: 3px 5px;
 /*background: url(../images/pattern2.png) 0 0 repeat-x;*/
}

ul.dropdown ul a:hover {
 /*background-color: #ffa500;*/
 /*background-color: #ffd37b;*/
 /*color: #fff;*/
color: #0099ff;
 /*width: 100%;*/
 width: 375px;
}

ul.dropdown ul ul {
 padding: 0;
 margin-left: -5px; 
 border: 0;
 padding-top: 10px;
}

ul.dropdown ul ul li {
  border-bottom: 1px solid #8a8a8a;
  padding: 3px 0 3px 0;
}

ul.dropdown .bottom {
   border-bottom: 0;
}