
/* CSS Document */

.col {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}

.row {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}
.row .row {
    display: inline-block;
    margin: 0 -10px;
    width: auto;
}
.col_1, .width_1 {
    width: 40px;
}
.col_2, .width_2 {
    width: 100px;
}
.col_3, .width_3 {
    width: 160px;
}
.col_4, .width_4 {
    width: 220px;
}
.col_4x, .width_4x {
    width: 265px;
}
.col_5, .width_5 {
    width: 280px;
}
.col_6, .width_6 {
    width: 340px;
}
.col_7, .width_7 {
    width: 400px;
}
.col_8, .width_8 {
    width: 460px;
}
.col_9, .width_9 {
    width: 520px;
}
.col_10, .width_10 {
    width: 580px;
}
.col_11, .width_11 {
    width: 640px;
}
.col_12, .width_12 {
    width: 700px;
}
.col_13, .width_13 {
    width: 760px;
}
.col_14, .width_14 {
    width: 820px;
}
.col_15, .width_15 {
    width: 880px;
}

.col_15x, .width_15x {
    width: 920px;
}

.col_16x, .width_16x {
    width: 930px;
}

.col_16, .width_16 {
    width: 940px;
}


#txtUserName, #txtPassword
{
	width:160px;
}

.login .col_7, .login .col_8
{
	border-top:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
	background-color:#FFFFFF;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/PIE.htc);
}


.login h2.h2-blu
{
    margin: 0 0 5px;
    padding: 0 0 0 25px;
    text-align: left;
}

.login dl 
{
	margin:5px 0 0 0;
}

.login dd 
{
	text-align:center;
	padding:5px 0;
	margin:0;
}

.login .txt-gry 
{
	font-size:11px;
}

.login
{
	border:1px solid #D8D8D8;
	background:url('../images/bg-gry-80.png') repeat-x 0 0;
	background-color:#EDEDED;
	padding:15px 0 0 0;
	text-align:left;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/PIE.htc);
}

.loginbox 
{
	border-top:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
	background-color:#FFFFFF;
	padding:20px 0 5px 0;
	text-align:left;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/PIE.htc);
}

.loginbox .co-label
{
	float:left;
	width:160px;
	text-align:right;
	padding:4px 8px 0 0;
}

.loginbox label
{
	float:left;
	width:120px;
	text-align:right;
	padding:4px 10px 0 0;
}

.loginbox dd label 
{
	float:none;
}

.loginbox .headerboxright
{
	width:150px;
}

.form 
{
	background-color:#FFFFFF;
	padding:20px;
}

.label-form 
{
	width:320px;
	float:left;
	text-align:right;
	color:#666666;
	padding:2px 10px 0 0;
}

.form dl
{
	background:#FFFFFF;
}

.form dd 
{
	width:100%;
	background:#FFFFFF;
	clear:both;
	padding:4px 0;
	margin:0;
}

.form .subhead-line
{
	font-weight:bold;
	padding:20px 0;
	margin:0 0 10px 0;
	border-bottom:1px solid #CCCCCC;
}

.form .subhead-line .label-form
{
	color:#000000;
}

input 
{
	box-shadow: 0 0 2px #CCCCCC inset;
}

.link-uline
{
	text-decoration;
}

.logout 
{
	float:right;
	color:#CCCCCC;
	font-size:12px;
	padding:15px 10px;
}

.btn-form 
{
	border:1px solid #999999;
	background-image:url('../images/btn-bg-blue-grd.png');
	background-repeat:repeat-x;
	background-position:0 60%;
	background-color:#33648d;
	font-size:11px;
	color:#FFFFFF;
	padding:3px 7px;
	margin:0 0 0 10px;
	font-weight:bold;
	text-align:center;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/PIE.htc);
}

.btn-form:hover
{
	background:none;
	background-color:#1769ee;
		-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/PIE.htc);
}

.btn-form-m 
{
	border:1px solid #999999;
	background-image:url('../images/btn-bg-blue-grd.png');
	background-repeat:repeat-x;
	background-position:0 60%;
	background-color:#33648d;
	font-size:14px;
	color:#FFFFFF;
	padding:3px 10px 4px 10px;
	margin:0 0 0 10px;
	font-weight:bold;
	text-align:center;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/PIE.htc);
}

.btn-form-m:hover
{
	background:none;
	background-color:#1769ee;
		-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/PIE.htc);
}

.btn-wht-form 
{
	border:1px solid #cccccc;
	background-image:url('../images/btn-bg-wht-grd.png');
	background-repeat:repeat-x;
	background-position:0 40%;
	background-color:#1477d4;
	font-size:11px;
	color:#3077DB;
	padding:2px 5px 3px 5px;
	margin:0 0 0 10px;
	font-weight:bold;
	text-align:center;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/PIE.htc);
}

.btn-wht-form:hover
{
	background:none;
	background-color:#D1E1FC;
		-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/PIE.htc);
}

.btn-input
{
	border:1px solid #999999;
	background-image:url('../images/btn-bg-blue-grd.png');
	background-repeat:repeat-x;
	background-position:0 70%;
	background-color:#33648d;
	font-size:11px;
	color:#FFFFFF;
	padding:2px 5px 3px 5px;
	font-weight:bold;
	text-align:center;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/PIE.htc);
}

.btn-input:hover 
{
	background:none;
	background-color:#1769ee;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/PIE.htc);
}

.btn-calendar 
{
	background: transparent url('../images/ico-calendar.png') no-repeat 0 2px;
	box-shadow:none;
	border:none;
	padding:3px 12px;
	vertical-align:top;
	padding:3px 12px 18px 12px\9;
	*height:22px;
}

.btn-calendar:hover
{
	background: transparent url('../images/ico-calendar.png') no-repeat 0 -19px;
	box-shadow:none;
	border:none;
	padding:3px 12px;
	padding:3px 12px 18px 12px\9;
}

.btn-edit 
{
	background: transparent url('../images/ico-pencil.png') no-repeat 0 0;
	*background: transparent url('../images/ico-pencil.png') no-repeat 0 5px;
	box-shadow:none;
	border:none;
	padding: 4px 13px 7px 13px;
	*padding: 5px 13px 10px 13px;
	*float:left;
}

.btn-edit:hover
{
	background: transparent url('../images/ico-pencil.png') no-repeat 0 -27px;
	*background: transparent url('../images/ico-pencil.png') no-repeat 0 -24px;
	box-shadow:none;
	border:none;
	padding: 4px 13px 7px 13px;
	*padding: 5px 13px 10px 13px;
}

.btn-delete 
{
	background: transparent url('../images/ico-trash.png') no-repeat 0 0;
	*background: transparent url('../images/ico-trash.png') no-repeat 0 5px;
	box-shadow:none;
	border:none;
	padding: 4px 13px 7px 13px;
	*padding: 5px 13px 10px 13px;
	*float:left;
}

.btn-delete:hover
{
	background: transparent url('../images/ico-trash.png') no-repeat 0 -27px;
	*background: transparent url('../images/ico-trash.png') no-repeat 0 -24px;
	box-shadow:none;
	border:none;
	padding: 4px 13px 7px 13px;
	*padding: 5px 13px 10px 13px;
	*float:left;
}

.btn-view 
{
	background: transparent url('../images/ico-view.png') no-repeat 0 0;
	*background: transparent url('../images/ico-view.png') no-repeat 0 5px;
	box-shadow:none;
	border:none;
	padding: 4px 13px 7px 13px;
	*padding: 5px 13px 10px 13px;
	*float:left;
}

.btn-view:hover
{
	background: transparent url('../images/ico-view.png') no-repeat 0 -27px;
	*background: transparent url('../images/ico-view.png') no-repeat 0 -24px;
	box-shadow:none;
	border:none;
	padding: 4px 13px 7px 13px;
	*padding: 5px 13px 10px 13px;
}

.btn-aro-left 
{
	background: transparent url('../images/ico-aro-left.png') no-repeat 0 0;
	box-shadow:none;
	border:none;
	padding: 4px 13px 7px 13px;
}

.btn-aro-left:hover
{
	background: transparent url('../images/ico-aro-left.png') no-repeat 0 -27px;
	box-shadow:none;
	border:none;
	padding: 4px 13px 7px 13px;
}

.validators 
{
	font-size:11px;
	color:#990000;
}

#page_header3 
{
	width:100%;
	float:left;
	height:auto;
}

.h2-form 
{
	float:left;
	width:63%;
	font-size:1.5em;
	color:#FFFFFF;
	font-weight:bold;
	padding:15px 10px 10px 20px;
}

.txtbox-form
{
	width:100px;
	margin:0 4px 0 0;
}

.select-form
{
	margin:0 4px 0 0;
}

.rate-changes .list-hrz li 
{
	background:none;
}

.rate-changes
{
	float:left;
	padding:10px 10px 5px 10px;
}


.rate-changes label
{
	display:block;
	color:#666666;
	padding:0 0 5px 0;
	font-size:13px;
	font-weight:bold;
}

.rate-changes .list-hrz .date2date 
{
    padding-right:0;
}

.list-hrz .date2date 
{
	padding-right:40px;
}

.list-hrz label
{
	padding-bottom:3px;
}

.date2date .btn-form
{
	margin:0;
}

.date2date span span 
{
	padding-left:44px;
}

.uploader 
{
	width:480px;
	border-collapse:collapse;
	border:1px solid #436F9E;
	font-size:12px;
}

.uploader th
{
	background-color:#C0D3E5;
	border:1px solid #436F9E;
	padding:3px 5px;
	color:#333333;
}

.uploader td
{
	border:1px solid #436F9E;
	padding:3px 5px;
}

.col-date 
{
	width:75px;
	
}

.link-gry
{
	color:#CCCCCC;
	font-size:12px;
}

.modalBackground
{
  background-color:#000000;
  filter:alpha(opacity=40);
  opacity:0.5;
}


.ModalWindow
{
  width:410px;
  border: solid1px#c0c0c0;
  padding: 0px10px10px10px;
  position:absolute;
  top:-1000px;
  left:250px !important;
}

.ModalWindow .col_7
{
 width:410px;
}
.h2-blu 
{
	font-style:normal;
	color:#115AA3;
}

.h2-blu-dot
{
	font-style:normal;
	color:#115AA3;
	border-top:1px dotted #CCCCCC;
	margin:10px 0 0 0;
	padding:10px 0 0 10px;
}
.gridwrap
{
	width: 930px; 
	float:left;
	overflow: auto; 
	overflow-y: hidden;
	margin:10px;
}

.gridclass
{
	font-size:11px;
	border-collapse:collapse;
	border:1px solid #C3C3C3;
}

.gridheader
{
  height:12px;
  font-size:11px;	
  color:#333333;
  background-color:#F3F3F3;
}

.gridnotr 
{
	padding-bottom:10px;
}

.gridheader th, .grid-vrc th
{
  background:url('../images/bg-gry-60.png') repeat-x 0 top;
  font-size:11px;	
  color:#333333;
  background-color:#F3F3F3;
  border:none;
}

.gridnotr .gridclass td 
{
	padding: 5px;
}

.gridnotr table
{
	float:left;
	clear:both;
}

.gridnotr th
{
  background:url('../images/bg-gry-60.png') repeat-x 0 top;
  font-size:11px;	
  color:#333333;
  background-color:#F3F3F3;
  border:none;
  height:15px;
  padding:5px;
  text-align:left;
}

.gridwrap span.gridheader
{
  background-color:transparent;
  
}

.grid-co h4
{
	font-size:18px;
	font-style:normal;
	border-bottom:1px dotted #CCCCCC;
	padding:5px 0 5px 10px;
	margin:0 0 5px 0;
	text-align:left;
}

.grid-co .w110, .grid-co .w140
{
	color:#666666;
	text-align:right;
}

.grid-co th label
{
	font-size:18px;
}

.grid-co label
{
	text-align:right;
	padding:0 5px 0 0;
	font-weight:normal;
	font-size:12px;
}

.grid-co 
{
	font-size:12px;
}

.grid-vrc th 
{
	padding:10px;
}

.grid-vrc td 
{
	text-align:center;
}

.grid-vrc label
{
	text-align:right;
	padding-right:10px;
}

.grid-vat th 
{
	  background:url('../images/bg-gry-60.png') repeat-x 0 top;
	  font-size:11px;	
	  color:#333333;
	  background-color:#F3F3F3;
	  border:none;
	  text-align:left;
	  padding:10px 5px;
}
 
.panellayout
{
 z-index: 110;
 border: solid; 
 border-width: thin;
 border-color: Gray;  
 position: relative;
 overflow: auto;
 cursor: default;
 left: 1px; 
}
.rowcoloralt 
{
	background-color:#F5F5F5;
}

.gridclass tr:hover
{
	background-color:#C7DDED;
}

.gridclass td 
{
	padding:12px 5px;
	*padding:0 5px 2px 5px;
	border:none;
}
.list-hrz 
{
	list-style:none;
	list-style-position:none;
	margin:0;
	padding:0;
}

.list-hrz li
{
	float:left;
	padding:0 0 0 10px;
}

.tabwrap
{
	float:left;
	border-bottom:1px solid #609AD4;
	text-align:right;
	margin:0 10px;
	*width:910px;
	*padding-right:20px;
}

.menuTabs 
{
	float:right;
	padding-right:20px;
}
 
.menuTabs td
  {
  	padding:0;
  }
  
a.tab-chart, a.tab-chart:link
{
	float: right;
	width: 42px;
	padding:13px 5px 12px 5px;
	*padding:11px 5px 0 5px;
	background:#609AD4 url("../images/blu-chart.png") no-repeat center bottom;
	*background:#609AD4 url("../images/blu-chart.png") no-repeat center -23px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#ffffff;
	margin:0 5px -1px 5px;
	*margin:14px 5px -1px 5px;
	*position:relative;
	border: 1px solid #609AD4 !important;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-radius-topleft:5px;
	-webkit-border-radius-topright:3px;
	border-radius-topleft: 5px;
	border-radius-topright: 5px;
	behavior: url(/PIE.htc);
}

a.tab-chart:hover
{
	background:#FFFFFF url("../images/blu-chart.png") no-repeat center 2px;
}

a.selectedTab-graph, a.selectedTab-graph:link
{
	float: right;
	width: 42px;
	padding:13px 5px 12px 5px;
	*padding:11px 5px 0 5px;
	background:#FFFFFF url("../images/blu-graph.png") no-repeat center 2px;
	*background:#FFFFFF url("../images/blu-graph.png") no-repeat center 4px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#ffffff;
	margin:0 5px -1px 5px;
	*margin:14px 5px -1px 5px;
	*position:relative;
	border-top: 1px solid #609AD4 !important;
	border-right: 1px solid #609AD4 !important;
	border-left: 1px solid #609AD4 !important;
	border-bottom: 1px solid #FFFFFF !important;
	*border-bottom: 1px solid #FFFFFF !important;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-radius-topleft:5px;
	-webkit-border-radius-topright:3px;
	border-radius-topleft: 5px;
	border-radius-topright: 5px;
	behavior: url(/PIE.htc);
}

a.tab-graph, a.tab-graph:link
  {
	float: right;
	width: 42px;
	padding:13px 5px 12px 5px;
	*padding:11px 5px 0 5px;
	background:#609AD4 url("../images/blu-graph.png") no-repeat center bottom;
	*background:#609AD4 url("../images/blu-graph.png") no-repeat center -23px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#ffffff;
	margin:0 5px -1px 5px;
	*margin:14px 5px -1px 5px;
	*position:relative;
	border: 1px solid #609AD4 !important;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-radius-topleft:5px;
	-webkit-border-radius-topright:3px;
	border-radius-topleft: 5px;
	border-radius-topright: 5px;
	behavior: url(/PIE.htc);
}

a.tab-graph:hover {
	background:#FFFFFF url("../images/blu-graph.png") no-repeat center 2px;
}

a.selectedTab-chart, a.selectedTab-chart:link
{
	float: right;
	width: 42px;
	padding:13px 5px 12px 5px;
	*padding:11px 5px 0 5px;
	background:#FFFFFF url("../images/blu-chart.png") no-repeat center 2px;
	*background:#FFFFFF url("../images/blu-chart.png") no-repeat center 4px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#ffffff;
	margin:0 5px -1px 5px;
	*margin:14px 5px -1px 5px;
	*position:relative;
	border-top: 1px solid #609AD4 !important;
	border-right: 1px solid #609AD4 !important;
	border-left: 1px solid #609AD4 !important;
	border-bottom: 1px solid #FFFFFF !important;
	*border-bottom: 1px solid #FFFFFF !important;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-radius-topleft:5px;
	-webkit-border-radius-topright:3px;
	border-radius-topleft: 5px;
	border-radius-topright: 5px;
	behavior: url(/PIE.htc);
}
      
.tabs-container  
{
    float:left; 
    width:100%; 
    border-bottom: 1px solid #609AD4;
}

.tabs-basic 
{
	float:left;
	margin-bottom:-1px;
}

table.tab-selected
{
    float:left;
}

.tabs-basic td
{
    float:left;
}

.tabs-basic a
{
    float:left;
    background-color:#609AD4;
    color:#0B457F;
	border: 1px solid #609AD4;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-radius-topleft:5px;
	-webkit-border-radius-topright:3px;
	border-radius-topleft: 5px;
	border-radius-topright: 5px;
	behavior: url(/PIE.htc);
	margin:0 0 -1px 2px;
	margin-bottom:-2px\9;
    padding:5px 10px;
}

.tabs-basic a:hover
{
    float:left;
    background-color:#FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	margin-bottom:-2px\9;
}

.tabs-basic a.tab-selected
{
    float:left;
    background-color:#FFFFFF;
	border-top: 1px solid #609AD4 !important;
	border-left: 1px solid #609AD4 !important;
	border-right: 1px solid #609AD4 !important;
	border-bottom: 1px solid #FFFFFF !important;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-radius-topleft:5px;
	-webkit-border-radius-topright:3px;
	border-radius-topleft: 5px;
	border-radius-topright: 5px;
	behavior: url(/PIE.htc);
	margin:0 0 -1px 2px;
	margin-bottom:-2px\9;
	padding:5px 10px;
}
        
#chartwrap 
{
 overflow: auto; 
 overflow-y:hidden;
 height: auto;
 margin-left:10px;
}

.searchco 
{
    width:225px;
    *width: 350px;
}

.searchco:focus {
    width: auto\9;
    position: relative\9;
}


#pagecontent .dashboard 
{
	width:950px;
	padding:0 0 10px 0;
}
       
#aspnetForm 
{
	width:100%;
	background-color:#FFFFFF;
	float:left;
}

.TextBoxdata
{
 text-align:left;	
}   

.gridwrap .links-secondary li,
.links-secondary li,
.list-bullet li
{
	background:none;
}

.links-secondary a
{
	color:#666666;
	text-decoration:underline;
}0

.links-secondary a:hover
{
	color:#0099FF;
}

.aro-up 
{
	background: url(../images/ico_asc.png) no-repeat right center;
	padding-right:12px;
}

.aro-down 
{
	background: url(../images/ico_desc.png) no-repeat right center;
	padding-right:12px;
}

/***************** GENERIC *******************/

a 
{
color:#41709E;
}

.left 
{
	float:left;
}

.right 
{
	float:right;
}

.gutter10-t
{
	padding-top:10px;
}

.gutter10-l
{
	padding-left:10px;
}

.gutter15
{
	padding:15px;
}

.gutter20
{
	padding:20px;
}

.gutter20-t
{
	padding-top:20px;
}

.gutter10-lr0
{
	padding:10px 0;
}

.gutter10-tb0
{
	padding:0 10px;
}

.padding60-l 
{
	padding-left:60px;
}

.padding5-btm
{
	padding-bottom:5px;
}

.margin10-t 
{
	margin-top:10px;
}

.margin0 
{
	margin:0;
}

.margin330-l 
{
	margin-left:330px;
}

.gridclass .edit-col
{
    width:20px;
    padding:10px 2px;
}

.gridclass .delete-col
{
    width:20px;
    padding:10px 1px 10px 1px;
}

.gridclass .url-col 
{
    padding-left:20px;
    text-align:left;
    *width:525px;
}

.gridclass .url-display
{
	text-align:left;
    padding-left:0;
}

.spacer 
{
	clear:both;
	padding:5px;
}

.clear 
{
	clear:both;
}

.center 
{
	text-align:center;
}

.center-all
{
	margin-left:auto;
	margin-right:auto;
}

.gutter10-r 
{
	padding-right:10px;
}

.txt-left 
{
	text-align:left;
}

.txt-right 
{
	text-align:right;
}

.txt-small 
{
	font-size:11px;
}

.txt-gry 
{
	color:#666666;
}

.w60 
{
	width:60px;
}

.w70 
{
	width:70px;
}

.gridclass .w70of
{
	width:70px;
	float:left;
	vertical-align:middle;
}

.w70of span
{
	width:70px;
	word-wrap:break-word;
	float:left;
	overflow-y:auto;
	overflow-x:none;
	height:auto;
	margin-bottom:1px solid #000000 !important;
}

.w80 
{
	width:80px;
}

.w90 
{
	width:90px;
}

.w110
{
	width:110px;
}


.w130
{
	width:130px;
}

.w140
{
	width:140px;
}
.w200
{
	width:200px;
}

.h150
{
	height:150px;
}

.w100pc
{
	width:100%;
}

.bdr-none
{
    border:none !important;
}

ul.dropdown {
 /*font: bold 35px/normal Arial, Helvetica, sans-serif;*/
  font: bold 22px/normal Arial, Helvetica, sans-serif;
  padding-top: 4px;
 /*letter-spacing: -2px;*/
 /*text-transform: uppercase;*/
}

ul.dropdown-linear 
{
	width:100%;
}

#headermainmenu ul.dropdown li.dir 
{
	padding: 0 16px 0 9px;
    background-position: 100% 50%;
    background-repeat: no-repeat;

}

	ul.dropdown li {
	 padding: 0 10px;
	 background-color: transparent;
	 color:#ffd37b;
	}

	ul.dropdown li.last ul li {
	 float: right;
	}
	
.faq-links ul li {
	background:none;
}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	/*background-color: #b0d730;*/
	/*background-color: #e1e8f2;*/
	/*color: #000;*/
	color: #0099ff;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited	{ /*color: #000;*/   color:#ffd37b; text-decoration: none; }
	ul.dropdown a:hover		{ /*color: #000;*/ color: #0099ff; }
	ul.dropdown a:active	{ color: #ffa500;}


	/* -- level mark -- */

	ul.dropdown ul {
	 /*background-color: #b0d730;*/
	 background-color: #003366;
	 border:2px solid;
     border-color:#404040 #d4d0c8 #d4d0c8 #404040;
	 font-size: 12px;
	 letter-spacing: normal;
 	}

	* html ul.dropdown ul {
	 width: 960px;
	}

		ul.dropdown ul li {
		 font-weight: bold;
		}

		/* -- level mark -- */

		ul.dropdown ul ul {
		 /*margin-top: 5px;*/
		 text-transform: none;
		}

			ul.dropdown ul ul li {
			 font-weight: normal;
			}


/*-------------------------------------------------/
 * @section		Support Class `dir`
 */


ul.dropdown *.dir {
 padding-right: 30px;
 /*background-image: url(../images/nav-arrow-down.png);*/
 background-image: url(../images/navdown_white.gif);
 /*background-position: 100% 50%;*/
 background-position: 95% 50%;
 background-repeat: no-repeat;
}

ul.dropdown ul *.dir {
 background-image: none;
}