﻿/* Main CSS File for MID Website */

body
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px !important;
   	color: #000000;
    background: #003366;
   	background-image: url(/images/pagebackground6.jpg);
}

#page
{
    background-color: #f4f8fb;  
	width: 960px;
	margin: 0 auto;
    position: relative;
	/*-webkit-box-shadow: #000 0px 2px 3px;
    -moz-box-shadow: #000 0px 2px 10px;
    box-shadow: #000 0px 2px 10px;
    behavior: url(/css/PIE.htc);*/
}	

#header
{
	width: 960px;
	height: 241px;
	background-image: url(/images/header11.jpg);
	background-repeat: no-repeat;
}	

#headermainmenu
{
 /*position: relative;*/
 width: 97%;
 margin: 0 auto;
 padding-top: 4px;
}

#headerboxright
{
 position: absolute;
 top: 42px;
 left: 612px;
 width: 345px;
 height: 174px;
 padding-left: 3px;
 color: #ffd37b;
 font-weight: bold;
 font-size: 12px;
}

#headerboxrightlinks
{
 height: 124px;
 padding-top: 5px;
}

#headerboxrightlinksleft
{
 float:left;
 width: 160px;
}

#headerboxrightlinksright
{
 float:right;
 width: 150px;
}

#headerboxrightlinks ul
{
 margin: 0;
 padding: 0;
}

#headerboxrightlinks ul li
{
 list-style-type: None;
 line-height: 23px;
 background-image: none;
 padding: 0;
}

#headerboxrightsearch
{
 width: 345px;
 height: 20px;
 margin-top: 25px;
 vertical-align: middle;
}

#headerboxright ul li a
{
 color: #ffd37b;
}

#headerboxright ul li a:hover
{
	color: #0099ff;
	font-weight: bold;
	text-decoration: underline;
}

#footer
{
	clear: both;
	width: 950px;
	margin: 0 auto;
	padding-bottom: 10px;
	font-size: 12px;
	/*margin-top:6px;*/
}

#footerlinkscontainer
{
 width: 950px;
 margin-bottom: 20px;
 background-image: url(/images/banner_background.jpg);
 position: relative;
 /*border: 1px solid #cccccc;*/
  border: 1px solid #e4eaf1;
 /*-webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 -webkit-box-shadow: #666 0px 2px 10px;
 -moz-box-shadow: #666 0px 2px 10px;
 box-shadow: #666 0px 2px 10px;
 behavior: url(/css/PIE.htc);*/
}

#footerlinks
{
height: 30px;
width: 550px;
margin: 0 auto;
padding-top: 15px;
list-style-type: none;
}

#footerlinks li
{
border-left: 1px solid #ffd37b;
float: left;
list-style-type:none;
background-image: none;
padding: 0;
}

#footerlinks li a
{
color: #ffd37b;
font-weight: bold;
padding-right: 5px;
padding-left: 5px;
}

#footerlinks a:hover
{
	color: #0099ff;
	text-decoration: underline;
}

#footerlinks .first
{
	border-left: none;
}

#footertable
{
width: 950px;
height: 142px;
}

#footertable tr td
{
  vertical-align:top;
  padding: 5px;
}

#footertable #woolfolk
{
 vertical-align: bottom;
}

#footertable #copyright
{
 text-align:center;
 line-height: 25px;
}

#footertable #address
{
 width: 250px;
 text-align:center;
 border: 1px solid #cccccc;
}

#footertable .phone
{
 width: 150px;
 text-align:center;
 border: 1px solid #cccccc;
}

#pagecontent
{
 width: 950px;
 margin: 0 auto;
}

#maincontentcontainer
{
 margin: 0;
 padding: 0;
}

#maincontentcontainer #maintext
{
/*position: relative;*/
 overflow: auto;
 /*width:872px;*/
 /*width: 920px;*/
 /*margin: 0 auto;*/
 padding: 10px 10px 20px 10px;
 background: #ffffff;
 border: 1px solid #e4eaf1;
}

.breadcrumbtrail
{
 width: 100%;
 margin: 6px 0 0 0;
 padding-bottom: 10px;
 font-size: 12px;
 font-weight: bold;
}

#twocolumnhomepage
{
 width: 950px;
}

#twocolumnhomepage #leftcolumn
{
 position: relative;
 float: left;
 width: 695px;
 padding-top: 10px;
} 

#twocolumnhomepage #leftcolumn #tabs
{
 position:relative;
 width: 100%;
 margin-bottom: 30px;
    -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 -webkit-box-shadow: #666 0px 2px 10px;
 -moz-box-shadow: #666 0px 2px 10px;
 box-shadow: #666 0px 2px 10px;
 background: #ffffff;
 background: -webkit-gradient(linear, 0, 0 bottom, from(#ffffff), to(#ffffff));
 background: -moz-linear-gradient(#ffffff, #ffffff);
 background: linear-gradient(#ffffff, #ffffff);
 -pie-background: linear-gradient(#ffffff, #ffffff);
 behavior: url(/css/PIE.htc);
}	

#imagestablehomepage
{
 clear:both;
 width: 900px;
 margin: 0 auto;
}	

#twocolumnhomepage #leftcolumn #twocolumncontainer
{
 width: 100%;
}

#twocolumnhomepage #leftcolumn #leftcol
{
 width:340px;
 float:left;
}

#twocolumnhomepage #leftcolumn #rightcol
{
 width:340px;
 float:right;
}

#twocolumnhomepage #leftcolumn .header
{
 position: relative;
 width:98%;
 margin: 0 auto;
 margin-bottom: 15px;
 height:40px;
 background-image:url('/images/pagebackground6.jpg');
 color:#ffd37b;
 font-weight:bold;
 font-size:18px;
 text-align:center;
 line-height:40px;
  -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 -webkit-box-shadow: #666 0px 2px 10px;
 -moz-box-shadow: #666 0px 2px 10px;
 box-shadow: #666 0px 2px 10px;
 background: #003366;
 background: -webkit-gradient(linear, 0, 0 bottom, from(#003366), to(#9CA5A5));
 background: -moz-linear-gradient(#003366, #9CA5A5);
 background: linear-gradient(#003366, #9CA5A5);
 -pie-background: linear-gradient(#003366, #9CA5A5);
 behavior: url(/css/PIE.htc);
}

#twocolumnhomepage #leftcolumn .content
{
  position: relative;
  font-size: 12px;
  width:100%;
  height:185px;
  margin-bottom: 37px;
  padding-top: 10px;
   -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 -webkit-box-shadow: #666 0px 2px 10px;
 -moz-box-shadow: #666 0px 2px 10px;
 box-shadow: #666 0px 2px 10px;
 background: #fde4aa;
 background: -webkit-gradient(linear, 0, 0 bottom, from(#fde4aa), to(#ffffff));
 background: -moz-linear-gradient(#fde4aa, #ffffff);
 background: linear-gradient(#fde4aa, #ffffff);
 -pie-background: linear-gradient(#fde4aa, #ffffff);
 behavior: url(/css/PIE.htc);
}

#twocolumnhomepage #leftcolumn .content img
{
 float:right;
 margin-right:4px;
 margin-left:6px;
}

#twocolumnhomepage #leftcolumn ul
{
 margin:0;
 padding-left:5px;
}

#twocolumnhomepage #leftcolumn ul li
{
 list-style-type: none;
 background-image: url("/images/blue_right_arrow.gif");
 background-repeat: no-repeat;
 background-position: 0 2px;
 padding-bottom: 5px;
 padding-left: 18px;
 line-height: 16px;
}

#twocolumnhomepage #leftcolumn ul ul
{
 margin:0;
 padding-left:2px;
}

#twocolumnhomepage #leftcolumn ul li li
{
 list-style-type: none;
 background-image: url("/images/checkmark_box_small_blue.gif");
 background-repeat: no-repeat;
 background-position: 0 2px;
 padding-bottom: 2px;
 margin-top: 2px;
}
	
#twocolumnhomepage #rightcolumn
{
 position: relative;
 float:right;
 width: 240px;
 height: 950px;
 margin-top: 10px;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 -webkit-box-shadow: #666 0px 2px 10px;
 -moz-box-shadow: #666 0px 2px 10px;
 box-shadow: #666 0px 2px 10px;
 background: #E8EAEA;
 background: -webkit-gradient(linear, 0, 0 bottom, from(#E8EAEA), to(#ffffff));
 background: -moz-linear-gradient(#E8EAEA, #ffffff);
 background: linear-gradient(#E8EAEA, #ffffff);
 -pie-background: linear-gradient(#E8EAEA, #ffffff);
 behavior: url(/css/PIE.htc);
}

#twocolumnhomepage #rightcolumn .header
{
 width:230px;
 margin:0 auto;
}

#twocolumnhomepage #rightcolumn .content
{
  font-size: 11px;
}

#twocolumnhomepage #rightcolumn .content img
{
 float:right;
 margin-right:5px;
 margin-left:5px;
}

#twocolumnhomepage #rightcolumn ul
{
 margin:0;
 padding-left:5px;
}

#twocolumnhomepage #rightcolumn ul li
{
 list-style-type: none;
 background-image: url("/images/blue_right_arrow.gif");
 background-repeat: no-repeat;
 padding-bottom: 5px;
 padding-left: 18px;
 background-position: 0 2px;
 line-height:16px;
}

#twocolumnhomepage #rightcolumn ul ul
{
 margin:0;
 padding-left:4px;
}

#twocolumnhomepage #rightcolumn ul li li
{
 list-style-type:none;
 padding-bottom: 2px;
 margin-top: 2px;
}

p
{
margin:10px 0 10px 0;
}

a
{
	color: #000080;
   text-decoration:none;
}

a:hover
{
	color: #0099ff;
	text-decoration:underline;
}

ul
{
 margin: 0 0 0 20px;
 padding:0;
}

ul ul
{
 margin: 0 0 0 4px;
 padding:0;
}

ul li
{
 list-style-type: none;
 background-image: url("/images/blue_right_arrow.gif");
 background-repeat: no-repeat;
 background-position: 0 2px;
 padding-bottom: 5px;
 padding-left: 18px;
 line-height: 18px;
}

ul li ul li
{
 list-style-type: none;
 background-image: url("/images/checkmark_box_small_blue.gif");
 background-repeat: no-repeat;
 background-position: 0 2px;
 padding-bottom: 2px;
 margin-top: 2px; 
}

ul ul ul
{
 margin: 0 0 0 15px;
 padding:0;
}

ul li ul li ul li
{
 list-style-type:square; 
 padding-bottom: 2px;
 margin-top: 2px; 
 padding-left: 0;
 background-image: none;
}

ol
{
}

ol li
{
list-style-type: decimal;
padding-top: 8px;
}

ol ol li.lower-alpha   
{
  list-style-type:lower-alpha;
}

ol ul
{
  padding: 10px 0 0 10px; 
}

ol ul li
{
 background-image: none;
 list-style-type: lower-roman;
 padding: 0 0 0 5px; 
}

.ul_noformat
{
}

.ul_noformat ul
{
 margin: 0 0 0 20px;
 padding:0;
}

.ul_noformat li
{
list-style-type: none;
 background-image: none;
 padding-bottom: 5px;
 padding-left: 18px;
 line-height: 18px;
}


#twocolumnhomepage #leftcolumn #tabs .list_no_format
{
 margin:0;
 padding: 10px 0 0 0;
 font-size: 11px;
 width:650px;
}	

#twocolumnhomepage #leftcolumn #tabs .list_no_format li
{
margin: 0 0 10px 5px;
padding:0;
background-image: none;
}

#twocolumnhomepage #leftcolumn #tabs .list_no_format .rightalign
{
 margin-top:20px;
}


h1
{
font-size:18px;
font-weight: bold;
font-style: oblique;
margin: 15px 0 15px 0;
}

h2
{
font-size: 16px;
font-weight: bold;
font-style: oblique;
margin: 15px 0 15px 0;
}

h3
{
font-size: 14px;
font-weight: bold;
font-style: oblique;
margin: 15px 0 15px 0;
}

h4
{
font-size: 12px;
font-weight: bold;
font-style: oblique;
margin: 15px 0 15px 0;
}

h5
{
font-size: 10px;
font-weight: bold;
font-style: oblique;
margin: 15px 0 15px 0;
}

hr
{
 margin: 5px 0 5px 0;
 color: #ccc;
background-color: #ccc;
}

#page_header3
{
 /*width: 950px;*/
 /*margin-bottom: 6px;*/
 height: 50px;
 background-image: url(/images/banner_background.jpg);
 /*position: relative;
 border: 1px solid #cccccc;*/
/* -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 -webkit-box-shadow: #666 0px 2px 10px;
 -moz-box-shadow: #666 0px 2px 10px;
 box-shadow: #666 0px 2px 10px;
 behavior: url(/css/PIE.htc); */
 border: 1px solid #e4eaf1;
}

#page_header3 #title_box
{

}

#page_header3 #title_box #title_text
{
	/*width: 950px;*/
	color: #ffffff;
	font-size: 24px;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}

.gridclass
{
 margin-top:10px;
 margin-bottom:10px;
 font-size:11px;
}

.gridheader
{
  height:12px;
  font-size:14px;	
  color:#ffffff;
  background-color:#336699;
}

.gridpager
{
 height:12px;
 font-size:14px;	
 width:100%;
 background-color:#ffffff;
 background-color:#336699;
 text-align:center;
 font-weight:bold;
 color:#000000;
}

.gridpager a:link
{
	color: #ffffff;
}

.gridpager a:active
{
}

.gridpager a:visited
{
 color: #ffffff;
}

.gridpager a:hover
{
	color: #cc0000;
}

.griditem
{
 background:#ffffff;
 height: 8px;
}

.gridalternatingitem
{
 background:#CCCCCC;
 height: 6px;
}

.divisiondirectortable
{
 width:928px;
 border: 1px solid #cccccc;
}

.divisiondirectortable .photo
{
  width: 200px;
}

.divisiondirectortable .name
{
  font-size: 18px;
  font-weight: bold;
}

.divisiondirectortable .caption
{
   width:160px;
   vertical-align:top;
}

.divisiondirectortable .description
{
   vertical-align:top;
}

.eventbox
{
    border-bottom: 1px solid #cccccc;
}

.centerobject 
{
 text-align: center;
 display: block;
 margin: auto;
 padding-top: 20px;
 margin-bottom: 20px;
}

a.screen, a.screen:visited
{
	color: #0033cc;
	position: relative;
	z-index: 1;
}

a.screen b
{
position:absolute;
visibility:hidden; /* hide the image */
width:200px; /* give it a width */
height:0; /* no height to solve an Opera bug that makes it selectable when hidden */
/*border:1px solid #000; /* add a border */
left:400px; /* position:the image */
top:-100px;
top:-150px;
}

a.screen:hover 
{
text-decoration:none; 
border:0; /* needed for this to work in IE */ 
z-index:1000;
}

a.screen:hover b 
{
visibility:visible; /* make the image visible */
height:150px; /* now give it a height */
cursor:pointer; /* for IE */
z-index:500; 
}

a.screen:hover b img 
{
border:0; /* remove the link border */
}

/* Accordion */
.accordionHeader
{
	border: 1px solid #2F4F4F;
	color: white; 
	background-color: #2E4d7B;
	font-family: Arial, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
}
 
#master_content .accordionHeader a
{
      color: #FFFFFF;
      background: none;
      text-decoration: none;
}
 
#master_content .accordionHeader a:hover
{
      background: none;
      text-decoration: underline;
}
 
.accordionHeaderSelected
{
	border: 1px solid #2F4F4F;
	color: white; 
	background-color: #5078B3;
	font-family: Arial, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
}
 
#master_content .accordionHeaderSelected a
{
      color: #FFFFFF;
      background: none;
      text-decoration: none;
}
 
#master_content .accordionHeaderSelected a:hover
{
      background: none;
      text-decoration: underline;
}
 
.accordionContent
{
	border: 1px solid #2F4F4F;
	border-top: none;
	padding: 5px;
	padding-top: 10px;
	background-color: #f5f5dc;
	background-color: #ffffff;
}

/* Accordion */
.accordion2Header
{
	color: #000000; 
	cursor: pointer;
	color: #000080;
    text-decoration:none;
}
 
.accordion2Header a
{
      color: #000080;
      background: none;
      text-decoration: none;
}
 
.accordion2Header a:hover
{
      background: none;
      text-decoration: underline;
}
 
.accordion2HeaderSelected
{
	color: #000080;
	font-size:12px;
	font-weight: bold;
	cursor: pointer;
}
 
#master_content .accordion2HeaderSelected a
{
      color: #FFFFFF;
      background: none;
      text-decoration: none;
}
 
#master_content .accordion2HeaderSelected a:hover
{
      background: none;
      text-decoration: underline;
}
 
.accordion2Content
{
}

/* Accordion */
.accordion3Header
{
	color: #000000; 
	cursor: pointer;
	color: #000080;
    text-decoration:none;
}
 
 .accordion3Header a
{
      color:#000000;
      background: none;
      text-decoration: none;
}
 
.accordion3Header a:hover
{
      background: none;
      text-decoration: underline;
}
 
.accordion3HeaderSelected
{
	color: #000080;
	font-weight: bold;
	cursor: pointer;
}
 
#master_content .accordion3HeaderSelected a
{
      color: #FFFFFF;
      background: none;
      text-decoration: none;
}
 
#master_content .accordion3HeaderSelected a:hover
{
      background: none;
      text-decoration: underline;
}
 
.accordion3Content
{
}

/* Accordion */
.accordion4Header
{
	color: #000000; 
	cursor: pointer;
	color: #000080;
    text-decoration:none;
 }
 
 .accordion4Header a
{
      color:#000000;
      background: none;
      text-decoration: none;
}
 
.accordion4Header a:hover
{
      background: none;
      text-decoration: underline;
}
 
.accordion4HeaderSelected
{
	color: #000080;
	font-size:12px;
	font-weight: bold;
	cursor: pointer;
}
 
#master_content .accordion4HeaderSelected a
{
      color: #FFFFFF;
      background: none;
      text-decoration: none;
}
 
#master_content .accordion4HeaderSelected a:hover
{
      background: none;
      text-decoration: underline;
}
 
.accordion4Content
{
	margin-bottom:10px;
}

/* Accordion */
.accordion5Header
{
	color: #000000; 
	cursor: pointer;
	color: #000080;
    text-decoration:none;
 }
 
 .accordion5Header a
{
    color: #000080;
    text-decoration:none;
    background: none;
}
 
.accordion5Header a:hover
{
      background: none;
      text-decoration: underline;
}
 
.accordion5HeaderSelected
{
	color: #000080;
	font-size:14px;
	font-weight: bold;
	cursor: pointer;
}
 
#master_content .accordion5HeaderSelected a
{
      color: #FFFFFF;
      background: none;
      text-decoration: none;
}
 
#master_content .accordion5HeaderSelected a:hover
{
      background: none;
      text-decoration: underline;
}
 
.accordion5Content
{
	margin-bottom:10px;
}

/* Accordion */
.accordion6Header
{
	cursor: pointer;
	color: #000080;
    text-decoration:none;
    margin-bottom: 10px;
}
 
.accordion6Header a:hover
{
	cursor: pointer;
	color: #000080;
    text-decoration:none;
    margin-bottom: 10px;
    color: #0099ff;
	font-weight: bold;
	text-decoration: underline;
 }
 
.accordion6HeaderSelected
{
	color: #000080;
	font-size:15px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom:10px;
}

.accordion6Content
{
	margin-bottom: 10px;
	border: 1px solid #cccccc;
	padding: 10px;
	background-color: #F4F7F5;
}

