﻿body {
}

.GridMain
{
	border-right: #336633 thin solid;
	border-top: #336633 thin solid;
	border-left: #336633 thin solid;
	border-bottom: #336633 thin solid;
	background-color: #0000ff;
	width: 100%;
	color: #66ffff;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
	padding-top: 1px;
	height: 50px;
	overflow: scroll;
}


.GridHeader
{
	background-color: #6183A6;
	font-weight: bold;
	text-align: right;
	color: black;
	font-family: Tahoma;
	font-size: small;
	border-right: white thin solid;
	border-top: white thin solid;
	border-left: white thin solid;
	border-bottom: white thin solid;
	overflow: auto;
	position:relative; 
}

.GridRow
{
	background-color: #ffffff;
	border-right: #ffffcc thin solid;
	border-top: #ffffcc thin solid;
	border-left: #ffffcc thin solid;
	border-bottom: #ffffcc thin solid;
	color: black;
	font-family: Tahoma;
	font-size: small;
	text-align: right;
}
.GridAlternatingRow
{
	background-color: #ffffcc;
	border-right: #ffffcc thin solid;
	border-top: #ffffcc thin solid;
	border-left: #ffffcc thin solid;
	border-bottom: #ffffcc thin solid;
	color: black;
	font-family: Tahoma;
	font-size: small;
	text-align: right;
}
.GridFooter
{
	background-color: #6183A6;
	font-weight: bold;
	text-align: right;
	color: black;
	font-family: Tahoma;
	font-size: small;
	border-right: white thin solid;
	border-top: white thin solid;
	border-left: white thin solid;
	border-bottom: white thin solid;
}
	
.dropdownmenu
{
	font-family: Arial;
	background-color: #fffff2;
}
 .textbox
{
	font-family: Arial;
	background-color: #fffff2;
	border: 1px solid;
}
.button
{
	font-family: Arial;
	background-color: #fffff2;
	border-right: #336633 1px solid;
	border-top: #336633 1px solid;
	border-left: #336633 1px solid;
	color: #336633;
	border-bottom: #336633 1px solid;
}
.alignleft
{
	text-align: left;
}
	 