﻿/*@page {size: portrait; /*margin: 0.5in;*/}*/

body 
{
 background-color: #ffffff;
 color: black;
 font-family: Times,"Times New Roman",Garamond,serif;
 font-size:12pt;
}

#header, .breadcrumbtrail, #footer
{
display: none;
visibility:hidden;	
} 

#page_header3
{
 background-color: #cccccc;
 border: 1px solid #e4eaf1;
margin-bottom:20px;
}

#page_header3 #title_box #title_text
{
	font-size: 24pt;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}

